[flake8]
max-line-length = 119
extend-ignore = E203, E501
extend-select = B950
exclude=
    .gitignore,
    env/,
    .pytest_cache/,
    __pycache__,
    .coverage,
    .coveragerc,
    README.md,
    requirements.txt,